@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Lightgray);
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.card-container{
    width: 250px;
    position: relative;
    background-color: var(--White);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px var(--Grayishblue);
}
.card-image img{
    width: 200px;
    border-radius: 10px;
}

.card-info{
    text-align: center;
}
.card-info h2{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 5px 0;
}
.card-info p{
    width: 210px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
